body {
    background: #1e1e1e; /* else use #131313 (from that dudes site) */
    -webkit-font-smoothing: antialiased;
}

footer {
    display: block;
}

span.public-void-text {
    font-size: 17px;
    color:#569cd6;
}


/* NAVBAR */

.navbar{
    margin-top: 25px;
}
.navbar a.logo{
    text-decoration: none;
    color:#e4e4e4;
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
}

.navbar ul.menu li{
    display: inline;
    padding: 15px;
}

.navbar ul.menu li a{
    text-decoration: none;
    color:#dcdcaa;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

.navbar ul.menu li a:hover{
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px;
}

.navbar button.menu-contact{
    transition: 300ms;
    background-color: transparent;
    border-color: #4ec9b0;
    border-style: solid;
    border-radius: 8px;
    color: #4ec9b0;
    font-family: 'Space Mono', monospace;
    -webkit-font-smoothing: antialiased;
    border-width: 1px;
    padding: 10px 15px;
}

.navbar button.menu-contact:hover{
    background-color: #20554a;
    transition: 300ms;
}

.above-class-text{
    color: #6a6a6a;
    margin-top: 50px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    margin-bottom: 125px;
}

.above-class-text span.public-class{
    color:#569cd6;
}

.above-class-text span.public-class-title{
    color:#4ec9b0;
}

.below-class-text p {
    color: #6a6a6a;
    margin-top: 125px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}


/* INTRO */

.intro {
    color: #e4e4e4;
}

.intro h1 {
    font-size: 50px;
    font-family: "IBM Plex Mono",monospace;
}

.intro h2 {
    font-size: 30px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

h2.hi-there-text {
    font-size: 35px;
    font-weight: 200;
}

.intro span.short-about{
    color:#569cd6; /* 569cd6 is visual studio color */
}

.intro span.hva-text{
    color:#dcdcaa;
}

.intro span.year-text{
    color:#57a542;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

.intro button.intro-contact-button{
    transition: 300ms;
    margin-top: 30px;
    background-color: transparent;
    background-repeat: no-repeat;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-color: #4ec9b0;
    border-style: solid;
    border-radius: 8px;
    font-size: 25px;
    color: #4ec9b0;
    font-family: 'Space Mono', monospace;
    -webkit-font-smoothing: antialiased;
    border-width: 1px;
    padding: 10px 15px;
}

.intro button.intro-contact-button:hover{
    background-color: #20554a;
    transition: 300ms;
}


/* ABOUT */

.about-section {
    color: #e4e4e4;
    margin-top: 250px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

.about-section h1{
    color:#dcdcaa;
}

.about-title h2{
    font-size: 25px;
}


/* CONTACT */
.contact-section{
    color: #e4e4e4;
    margin-top: 250px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    text-align: center;
    margin-bottom: 250px;
}

.contact-section h1{
    color:#dcdcaa;
}

.contact-section-content h2{
    font-size: 25px;
}

.contact-contact-button{
    transition: 300ms;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: transparent;
    background-repeat: no-repeat;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-color: #4ec9b0;
    border-style: solid;
    border-radius: 8px;
    font-size: 25px;
    color: #4ec9b0;
    font-family: 'Space Mono', monospace;
    -webkit-font-smoothing: antialiased;
    border-width: 1px;
    padding: 10px 15px;
}

.contact-contact-button:hover{
    background-color: #20554a;
    transition: 300ms;
}

.contact-send-email{
    font-size: 15px;
    color: #989898;
}

.contact-my-socials{
    margin-top: 50px;
} 

.contact-my-socials h3{
    font-size: 25px;
}

.contact-socials-list{
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
} 

.contact-socials-list li{
    margin-left: 10px;
    margin-right: 10px;
}

.contact-socials-list li a{
    text-decoration: none;
    transition: 200ms;
    color:#e4e4e4;
}

.contact-socials-list li a:hover{
    transition: 200ms;
    color:#4ec9b0;
}

.contact-resume{
    text-decoration: none;
    transition: 200ms;
    color:#e4e4e4;
    font-size: 25px;
    transition: 200ms;
}

.contact-resume:hover{
    transition: 200ms;
    color:#4ec9b0;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px;
}

/* END SECTION */

.designed-and-built a{
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    color:#989898;
    transition: 200ms;
    font-size: 13px;
    text-decoration: none;
}

.designed-and-built a:hover{
    color:#4ec9b0;
    transition: 200ms;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
    text-decoration-thickness: 0.5px;
}